@model CARSHARE_WEBAPP.ViewModels.KorisnikVM

<h2>Korisnički Detalji</h2>

<div>
    <strong>Ime:</strong> @Model.Ime <br />
    <strong>Prezime:</strong> @Model.Prezime <br />
    <strong>Email:</strong> @Model.Email <br />
    <strong>Telefon:</strong> @Model.Telefon <br />
    <strong>Datum rođenja:</strong> @Model.DatumRodjenja.ToShortDateString() <br />
</div>
