@model List<CARSHARE_WEBAPP.ViewModels.KorisnikVM>

<h2>Korisnici</h2>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Datum Rodjenja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var korisnik in Model)
        {
            <tr>
                <td>@korisnik.Username</td>
                <td>@korisnik.Ime</td>
                <td>@korisnik.Prezime</td>
                <td>@korisnik.Email</td>
                <td>@korisnik.DatumRodjenja</td>
            </tr>
        }
    </tbody>
</table>
