@model List<CARSHARE_WEBAPP.ViewModels.KorisnikVM>

<h2>Lista Korisnika</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Uloga</th>
            <th>Confirmed?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var korisnik in Model)
        {
            <tr>
                <td>@korisnik.IDKorisnik</td>
                <td>@korisnik.Ime</td>
                <td>@korisnik.Prezime</td>
                <td>@korisnik.Email</td>         
                <td>@(korisnik.Uloga?.Naziv ?? "N/A")</td>
                <td>@(korisnik.IsConfirmed)</td>
            </tr>
        }
    </tbody>
</table>
@section Styles {
    <link rel="stylesheet" href="~/css/KorisnikSheet.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap" rel="stylesheet">
}