@model CARSHARE_WEBAPP.ViewModels.VoziloVM

<h2>Vehicle Details</h2>

@if (Model == null)
{
    <p>Vehicle data not available.</p>
}
else
{
    <p>Make: @Model.Marka</p>
    <p>Model: @Model.Model</p>
    <p>Registration: @Model.Registracija</p>

    @if (Model.Vozac != null)
    {
        <p>Driver: @Model.Vozac.Ime @Model.Vozac.Prezime</p>

        if (Model.Vozac.Images != null)
        {
            foreach (var img in Model.Vozac.Images)
            {
                if (!string.IsNullOrEmpty(img.ContentBase64))
                {
                    <img src="data:image/jpeg;base64,@img.ContentBase64" alt="@img.Name" style="max-width:200px;" />
                }
            }
        }
    }
}
